extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home
		h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, optio. Cupiditate natus temporibus perspiciatis quia molestiae delectus, excepturi, dolor at consequuntur aperiam qui laudantium pariatur ullam iste reiciendis et aliquid?
